/** GENERAL CLASSES **/
* {
    box-sizing: border-box;
  }
    
  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }
  
 
    
  /** Core Body, Header, Nav, and Footer Code background-image: url(../images/back1.gif);**/

  #fightRing {
    background-repeat:no-repeat;
    background-size: cover;
    height: 300px;
    margin-bottom: 100px;
    visibility: hidden;
}
   /** 
  html, body {
    height: 100%;
  }
  **/
  body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }
  
  header {
    background-color: #ffffff;
    width: 100%;
    font-size: 24px;
  }
  
  /* The animation code 
  @keyframes name-change {
    from {
      background-color: #eee;
      color:#4aaaa5;
    }
    to {
      background-color: #4aaaa5;
      color:#eee;
    }
  }
  
  h1 {
    padding: 20px;
    color:rgb(162, 18, 18);
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
    /*animation-name: name-change;
    animation-duration: 5s;
    float: right;
  }**/
  
  

  
  #attackButton {
    visibility: hidden;
    background-color: red;
    border: solid 1px black;
    color: white;
    width: 100px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }

  #restartButton {
    visibility: hidden;
    background-color: rgb(112, 112, 112);
    border: solid 1px black;
    color: rgb(0, 0, 0);
    width: 100px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }
  
  
  
  /** PORTFOLIO **/
  
  .fighterBox {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 0px 20px 20px 0px;
    border: solid 2px rgb(0, 177, 0);
    text-align: center;
    background-color: black;
  }

  .fighterName {
    background-color: rgb(0, 0, 0);
    color: white;
  }

/** taken from https://stackoverflow.com/questions/32875695/flip-mirror-an-image-horizontally-vertically-with-css **/
  .img-hor {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}


  .fighterHP {
    background-color: rgb(0, 0, 0);
    color: white;
  }

  #pregame {
    display: inline-block;
  }

  #yourCharDiv {
    float: left;
  }

  #defenderDiv {
    float: right;
  }
  
  #enemiesDiv {
    clear: both;
  }

  .fighterImg {
    width: 180px;
    height: 140px;
    margin: 10px;
  }
  
 
  /* MEDIA QUERIES */
  
  /* Width at 980px and below */
  /*
  @media screen and (max-width: 980px) {
    #content {
      width: 540px;
      margin-left: 5%;
    }
  
    .p_con{
      display: inline-block;
      position: relative;
      width: 45%;
      height: 200px;
      padding: 10px;
    }
    
  }
  
  /* Width at 768px and below 
  @media screen and (max-width: 768px) {
    #content {
      width: 96%;
      margin: 0 auto;
    }
  }
  
  
  /* Width at 640px and below 
  @media screen and (max-width: 640px) {
    header {
      position: static;
      clear: both;
      width: 100%;
      text-align: center;
    }
  
    h1 {
      display: inline-block;
      width: 100%;
    }
  
    nav {
      display: inline-block;
      float: none;
      margin: 20px;
    }
  
    .p_con {
      display: inline-block;
      position: relative;
      width: 100%;
      height: 300px;
      padding: 0px;
    }

*/
